<%= form_for(@hydrometer) do |f| %>
  <%= error_messages(@hydrometer) %>


<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/users/sign_in">CAOSC</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">


      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.nome %><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="/editar"><i class="fa fa-fw fa-pencil"></i> Perfil</a>
          </li>

          <li>
            <a href="/mensagem"><i class="fa fa-fw fa-envelope" ></i> Mensagem</a>
          </li>


          <li class="divider"></li>
          <li>
          <%= link_to('Sair', destroy_user_session_path, :method => :delete) %>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">


        <li >
          <a href="/consumo"><i class="fa fa-fw fa-dashboard"></i> Consumo</a>
        </li>

        <li class="footerFinal">
          <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Chamados <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse ">
            <li >
              <a class="footerFinal" href="/novochamado">Novo Chamado</a>
            </li>
            <li >
              <a class="footerFinal" href="/chamados">Meus Chamados</a>
            </li>
          </ul>
        </li>
        <li >
          <a href="/tabelaPrecos"><i class="fa fa-fw fa-money"></i> Tabela de Preços</a>
        </li>
        <li class="active footerFinal">
          <a href="javascript:;" data-toggle="collapse" data-target="#demo1">
          <i class="fa fa-fw fa-user"></i> Administrador <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo1" class="collapse ">
            <li >
              <a class="footerFinal" href="/hidrometro"> Hidrômetro</a>
            </li>


            <li >
              <a class="footerFinal" href="/mensagens"> Mensagens</a>
            </li>

            <li  >
              <a class="footerFinal" href="/novaleitura"> Nova Leitura</a>
            </li>
          </ul>
        </li>


      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header"> Usuarios</small></h1>
          <ol class="breadcrumb">
            <li class="active">
              <i class="fa fa-bookmark"></i> Editar Hidrômetro
            </li>
          </ol>
        </div>
        </div>


          </thead>
            <%= render 'form' %>

            <div class="field">
            <br><button type="submit" id="submit" name="submit" class="btn btn-primary ">Alterar</button>
            </div>

        <%= link_to 'Voltar', hydrometers_path %>


      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
  <% end %>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="js/plugins/morris/raphael.min.js"></script>
<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/morris/morris-data.js"></script>
